body {
    width: 700px;
    text-align: center;
    margin-left: auto ;
    margin-right: auto;
    background-image: url('image/wallpaperflare.com_wallpaper.jpg');
    height: 100%;
    background-position: center;
    background-repeat: repeat;
}

#top{
    color: lavender
}

li {
    text-align: center;
    margin-right: auto;
    list-style-type: none;
    color: lavender
}

ul {
    padding: 10px
}

a {
    color: blue
}

footer {
    color: turquoise;
    padding: 10px;
    justify-content: space-between;
}