body {
    width: 700px;
    text-align: center;
    margin-left: auto ;
    margin-right: auto
}

li {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

ul {
    padding: 10px
}

a {
    color: blue
}